auto-save-list
backups
elpa
ido.last
network-security.data
*~
/smex-items
/recentf
/projectile-bookmarks.eld
/anaconda-mode
settings/.my-ivy.el.swp
/projectile.cache
/#recentf#
/eshell/history
/tutorial/English.tut
/image-dired/.image-dired_db
/eshell
