auto-save-list
elpa
/custom.el
/projectile-bookmarks.eld
/transient
/recentf
/session.*
/.lsp-session-v1
/tramp
/.cache/
/lsp-cache/
/projectile.cache
/eln-cache/
/history
/var/
/eshell/
/projects
/abbrev_defs
